body {
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
  background-color: #111111;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

img {
  width: 100px;
  height: 100px;
}

canvas {
  z-index: 1;
}

#visualizer {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#song_image {
  position: absolute;
  width: 20%;
  min-width: 100px;
  height: 100px;
  bottom: 20px;
  left: 20px;
}

#song_info {
  position: absolute;
  width: 30%;
  bottom: 0;
  left: 120px;
  padding-left: 30px;
}

#title, #artist, #album, #picture {
  position: relative;
  width: 100%;
  z-index: 999;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
  color: #fff;
  visibility: hidden;
  letter-spacing: -.05em;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
}

#progress_bar_container {
  position: absolute;
  width: 100%;
  top: 6%;
  display: flex;
}

#progress {
  position: relative;
  width: 85%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0.5% auto;
}

#current_time {
  position: relative;
  width: 5%;
  left: 0;
  color: #ffffff;
  text-align: center;
}

#duration {
  position: relative;
  width: 5%;
  right: 0;
  color: #ffffff;
  text-align: center;
}

#current_bar {
  left: 5%;
  right: 5%;
  height: 100%;
  background-color: #87cefa;
}

.file-upload-label {
  position: absolute;
  top: 20px;
  left: 30px;
  background: #44D62C;
  padding: 20px 23px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 3px;
  z-index: 1000;
}

.pause-btn-label {
  position: absolute;
  top: 20px;
  left: 250px;
  background: #44D62C;
  padding: 20px 23px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 3px;
  z-index: 1000;
}

.file-upload-label:hover, .pause-btn-label:hover {
  background: #22b40a;
  cursor: pointer;
}

.file-upload-input, .pause-btn {
  display: none;
  z-index: 1000;
}
